* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "roboto";
  src: url('font/Roboto-Regular.ttf');
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  

}

h1 {
font-size: 2em;
}
h3 {
  font-size: 1.2em;
}

/* place type d'affichage au bon endroit */
.type-affichage {
  margin-right: 4.5rem;
}

/* la barre de scroll */
.table-scroll {
  height: 500px; 
           
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #000;
   max-width: 75%;
}



/* fixe l'entete */
.table-scroll thead th {
  position: sticky;
  top: 0;
}



/* centre les infos*/

.page-center {
  min-height: 20vh;
  display: flex;
   flex-direction: column; 
  justify-content: center;
  text-align: center;
  margin-top: 3rem;

}

.card {
  height: 240px;

}

/* media queries informations */
@media (max-width: 990px) {
  .table-scroll {
    max-width: 100%;
  }
}


/* media queries préférences */
 
@media (max-width: 575.98px) {
  .preferences-row {
    flex-direction: column !important;
    align-items: flex-start !important;
    text-align: left !important;
  }
  
  .preferences-row p {
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
  }
  
  .preferences-row > div:last-child {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

/* les liens dans infos */
.card-body a {
  color: #212529;
  text-decoration: underline;
}


/* THEME CLAIR */
.theme-clair {
  background-color: #ffffff;
  color: #212529;
}

/* THEME SOMBRE */
.theme-sombre {
  background-color: rgb(31, 40, 52);
  color: #f1f1f1;
}

/* Header */
.theme-sombre header {
  background-color:  rgb(35, 46, 61);
}

/* Cards */
.theme-sombre .card {
  background-color: #1e1e1e;
  color: #f1f1f1;
  border-color: #333;
}

/* Tableau */
.theme-sombre table {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.theme-sombre thead {
  background-color: #2a2a2a;
}

.theme-sombre button {
  color: rgb(35, 46, 61);
  background-color: rgb(175, 180, 211);
}

.theme-sombre .btn-outline-dark {
    color: rgb(35, 46, 61);
  background-color: rgb(186, 175, 211);
}

.theme-sombre .table {
  --bs-table-bg: rgb(186, 175, 211) !important;
  --bs-table-striped-bg: rgb(200, 190, 220) !important;
  --bs-table-color: rgb(35, 46, 61) !important;
  color: rgb(35, 46, 61) !important;
}

.theme-sombre .table-secondary {
  --bs-table-bg: rgb(150, 140, 180) !important;
  background-color: rgb(150, 140, 180) !important;
  color: rgb(35, 46, 61) !important;
}

.theme-sombre .table td,
.theme-sombre .table th {
  color: rgb(35, 46, 61) !important;
  border-color: rgb(100, 90, 120) !important;
}


#map {
  height: 70vh; 
  width: 70%;
  margin: 20px auto;
  border-radius: 8px;
}
