* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "roboto";
  src: url('font/Roboto-Regular.ttf');
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  

}

h1 {
font-size: 2em;
}
h3 {
  font-size: 1.2em;
}

/* place type d'affichage au bon endroit */
.type-affichage {
  margin-right: 4.5rem;
}

/* la barre de scroll */
.table-scroll {
  height: 500px; 
           
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #000;
   max-width: 75%;
}



/* fixe l'entete */
.table-scroll thead th {
  position: sticky;
  top: 0;
}



/* centre les infos*/

.page-center {
  min-height: 20vh;
  display: flex;
   flex-direction: column; 
  justify-content: center;
  text-align: center;
  margin-top: 3rem;

}

.card {
  height: 240px;

}

/* media queries informations */
@media (max-width: 990px) {
  .table-scroll {
    max-width: 100%;
  }
}


/* media queries préférences */
 
@media (max-width: 575.98px) {
  .preferences-row {
    flex-direction: column !important;
    align-items: flex-start !important;
    text-align: left !important;
  }
  
  .preferences-row p {
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
  }
  
  .preferences-row > div:last-child {
    width: 100% !important;
    margin-left: 0 !important;
  }
}